# Ambiente Virtual
venv/
/venv/
*.venv
.venv

# Arquivos de Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de ambiente
.env

# Diretório do VSCode (configurações do editor)
.vscode/

# Arquivos de sistema
.DS_Store
Thumbs.db
faiss_index
*.pkl

# Documentos da Base de Conhecimento
*.pdf
